:root {
  /* Main color */
  --main-green: #526349;
  --main-green-60: #557957;
  --main-green-50: #588e64;
  --main-green-40: #78a281;
  --main-green-30: #97b69d;
  --main-green-20: #d6ddd6;
  --main-green-10: #eaeeea;

  /* Sub color */
  --sub-yellow: #af892a;
  --sub-yellow-50: #c0972e;
  --sub-yellow-40: #d0b05b;
  --sub-yellow-30: #dfc987;
  --sub-yellow-20: #efe2b4;
  --sub-yellow-10: #fefae0;

  /* text */
  --text-gray-100: #050505;
  --text-gray-90: #232322;
  --text-gray-80: #40413e;
  --text-gray-70: #5e5f5b;
  --text-gray-60: #7b7c77;
  --text-gray-50: #a0a29d;
  --text-gray-40: #ccceca;
  --text-gray-30: #e6e7e5;
  --text-gray-20: #ffffff;
}
